Repository billlzzz18/bl1nk-skill-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

Update apps/server/src/routers/__tests__/rest.router.test.ts
  apps/server/src/routers/__tests__/rest.router.test.ts
Due: eslint --fix, prettier --write

Update apps/server/src/routers/rest.router.ts
  apps/server/src/routers/rest.router.ts
Due: eslint --fix, prettier --write

Delete pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

Update package.json
  apps/client/package.json
Due: prettier --write

Update bl1nkLanguages.ts
  packages/shared/bl1nk/bl1nkLanguages.ts
Due: eslint --fix, prettier --write

add: dockerfile
  .dockerignore
  Dockerfile
  QWEN.md
  apps/server/package.json
  apps/server/src/routers/rest.router.ts
  docker-compose.yml
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix error
  apps/server/package.json
  apps/server/src/routers/rest.router.ts
Due: eslint --fix, prettier --write

Refine Dockerfile build pipeline
  Dockerfile
Due: none

Fix server Docker build pruning and runtime layout
  Dockerfile
Due: none

Add package manifest for generated SDK
  specs/main/generated/sdk/package.json
Due: prettier --write

Set production env for builder pruning
  Dockerfile
Due: none

Use POSIX path for generated SDK dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

Adjust server tsconfig for SDK resolution
  apps/server/tsconfig.json
Due: prettier --write

Use Node16 resolution for server
  apps/server/tsconfig.json
Due: prettier --write

Harden Docker build for server workspace
  Dockerfile
  apps/server/tsconfig.json
Due: prettier --write

Allow scripts during pnpm install in Docker deps stage
  Dockerfile
Due: none

Update file-organize.md
  .amazonq/rules/file-organize.md
Due: prettier --write

delete file
  apps/client/assets/icon/logo.icns
  apps/client/assets/icon/logo.ico
  apps/client/assets/icon/logo.png
  apps/client/assets/logo.svg
  packages/shared/utils/runExercise.ts
  packages/shared/utils/utils.ts
  workers/component-selector-client.js
  workers/proxy_server.js
  workers/shim.js
  workers/tsc/tsc_worker.ts
  workers/tsc/tsconfig.json
Due: eslint --fix, prettier --write

fix build
  Dockerfile
  apps/server/package.json
  apps/server/tsconfig.json
Due: prettier --write

fix
  Dockerfile
  apps/server/package.json
  apps/server/tsconfig.json
Due: prettier --write

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

feat: Improved CI/CD workflow, updated docker-compose, and enhanced README
  .github/workflows/docker-build.yml
  Dockerfile.rej
  README.md
  apps/server/package.json
  docker-ci-update.patch
  docker-compose.yml
Due: prettier --write

Remove Dockerfile.rej merge conflict artifact and update .gitignore
  .gitignore
  Dockerfile
  Dockerfile.rej
Due: none

Fix import errors in multiple test files
  .replit
  attached_assets/Pasted--FAIL-src-tests-mention-apps-test-ts-src-tests-mention-_1765057939141.txt
Due: none

Initialize the application's database for use
  .replit
  apps/server/prisma/prisma/skill-builder.db
  apps/server/prisma/prisma/skill-builder.db-journal
Due: none

Make rate limiting conditional and add Replit documentation
  .replit
  apps/server/src/index.ts
  replit.md
Due: eslint --fix, prettier --write

fix vite
  apps/client/src/paths/paths.ts
  apps/client/vitest.config.ts
Due: eslint --fix, prettier --write

build(client): update postcss config and remove trpc provider
  apps/client/package.json
  apps/client/postcss.config.js
  apps/client/src/app/layout.tsx
  apps/client/src/components/SetupBanner.tsx
  apps/client/tsconfig.tsbuildinfo
  apps/client/vitest.config.ts
Due: eslint --fix, prettier --write

fix: resolve code review issues
  .gitignore
  Dockerfile
  apps/client/package.json
  apps/client/src/__tests__/chat_stream_handlers.test.ts
  apps/client/src/shared/templates.ts
  apps/server/src/routers/rest.router.ts
  docs/th/05_adrs/0003-sqlite-phase1.md
  playwright.config.ts
Due: eslint --fix, prettier --write

chore: remove replit.md and add test-results directory
  replit.md
  test-results/.last-run.json
Due: prettier --write

fix: apps/client/src/package.json to reduce vulnerabilities
  apps/client/src/package.json
Due: prettier --write

Updated .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

fix: upgrade lucide-react from 0.454.0 to 0.554.0
  apps/client/src/package.json
Due: prettier --write

fix: upgrade @radix-ui/react-context-menu from 2.2.4 to 2.2.16
  apps/client/src/package.json
Due: prettier --write

fix: upgrade @radix-ui/react-menubar from 1.1.4 to 1.1.16
  apps/client/src/package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  prisma format: any of: apps/server/prisma/schema.prisma
