Repository billlzzz18/bl1nk-skill-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "apps/server/prisma/schema.prisma": [
    "prisma format"
  ]
}

Update README.md
  README.md
Due: prettier --write

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

Create SECURITY.md
  SECURITY.md
Due: prettier --write

chore: update dependencies to fix security vulnerabilities
  pnpm-lock.yaml
Due: prettier --write

docs: update README with comprehensive project information
  README.md
Due: prettier --write

chore: update @modelcontextprotocol/sdk to 1.24.0
  package.json
Due: prettier --write

Create 000-bl1nk-core-logic/spec.md
  specs/000-bl1nk-core-logic/spec.md
Due: prettier --write

Update spec.md
  specs/000-bl1nk-core-logic/spec.md
Due: prettier --write

Create template-logic.md
  docs/template-logic.md
Due: prettier --write

Create mile_stone.md
  docs/mile_stone.md
Due: prettier --write

Create planning_3-12-2025.md
  docs/planning_3-12-2025.md
Due: prettier --write

Create planning-3-12-2025-part2
  docs/planning-3-12-2025-part2
Due: none

Create planning -3-12-2025-part3.md
  docs/planning -3-12-2025-part3.md
Due: prettier --write

Update .gitignore
  .gitignore
Due: none

Update and rename roadmap.md to Comprehensive.md
  Comprehensive.md
  roadmap.md
Due: prettier --write

Delete logs directory
  logs/openai/openai-2025-12-01T16-12-48.088Z-e5558667.json
  logs/openai/openai-2025-12-01T16-15-53.087Z-5827954e.json
  logs/openai/openai-2025-12-01T16-16-14.086Z-31f14c57.json
Due: prettier --write

feat(rate-limiter): implement Redis-based rate limiting middleware
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/utils/rateLimiter.ts
  apps/server/src/utils/redisClient.ts
Due: eslint --fix, prettier --write

Add Dockerfile existence check in workflow
  .github/workflows/docker-build.yml
Due: prettier --write

Update planning_3-12-2025.md
  docs/planning_3-12-2025.md
Due: prettier --write

Add paths-ignore for markdown and docs in CI
  .github/workflows/ci.yml
Due: prettier --write

Potential fix for code scanning alert no. 11: Inefficient regular expression
  apps/client/src/ipc/utils/cleanFullResponse.ts
Due: eslint --fix, prettier --write

Delete COMPLETION_SUMMARY.md
  COMPLETION_SUMMARY.md
Due: prettier --write

Create eslint.yml
  .github/workflows/eslint.yml
Due: prettier --write

Update index.ts
  apps/server/src/index.ts
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 9: Incomplete string escaping or encoding
  apps/client/src/ipc/utils/git_utils.ts
Due: eslint --fix, prettier --write

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: prettier --write

Potential fix for code scanning alert no. 8: Incomplete string escaping or encoding
  apps/client/src/ipc/utils/git_utils.ts
Due: eslint --fix, prettier --write

Add initial README.md for Claude Skill Builder
  docs/README.md
Due: prettier --write

Update contact email address in terms of service
  docs/TERMS_OF_SERVICE.md
Due: prettier --write

Potential fix for code scanning alert no. 2: Missing rate limiting
  apps/server/package.json
  apps/server/src/routers/rest.router.ts
Due: eslint --fix, prettier --write

fix: REST API pagination and sorting issues
  apps/server/src/routers/__tests__/rest.router.test.ts
  apps/server/src/routers/rest.router.ts
  docs/bugfixes/rest-api-pagination-sorting.md
Due: eslint --fix, prettier --write

docs: add bug fix summary document
  BUGFIX_SUMMARY.md
Due: prettier --write
