Repository billlzzz18/bl1nk-skill-platform: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

fix: upgrade @radix-ui/react-toast from 1.2.4 to 1.2.15
  apps/client/src/package.json
Due: prettier --write

fix: upgrade @radix-ui/react-hover-card from 1.1.4 to 1.1.15
  apps/client/src/package.json
Due: prettier --write

fix: apps/client/src/package.json to reduce vulnerabilities
  apps/client/src/package.json
Due: prettier --write

fix: market place
  .claude/.claude-plugin/marketplace.json
  .claude/.claude-plugin/plugin.json
  skill/skill-creator/references/output_patterns.md
  skill/skill-creator/references/workflows.md
Due: prettier --write

fix: apps/server/package.json to reduce vulnerabilities
  apps/server/package.json
Due: prettier --write

fix: upgrade @radix-ui/react-navigation-menu from 1.2.3 to 1.2.14
  apps/client/src/package.json
Due: prettier --write

Potential fix for code scanning alert no. 7: Incomplete string escaping or encoding
  apps/client/src/ipc/utils/app_env_var_utils.ts
Due: eslint --fix, prettier --write

fix: upgrade @radix-ui/react-radio-group from 1.2.2 to 1.3.8
  apps/client/src/package.json
Due: prettier --write

fix: apps/client/package.json to reduce vulnerabilities
  apps/client/package.json
Due: prettier --write

Update apps/client/src/ipc/utils/app_env_var_utils.ts
  apps/client/src/ipc/utils/app_env_var_utils.ts
Due: eslint --fix, prettier --write

Update SKILL.md
  plugins/autonomous-skill/skills/autonomous-skill/SKILL.md
Due: prettier --write

Delete BUGFIX_SUMMARY.md
  BUGFIX_SUMMARY.md
Due: prettier --write

Update apps/client/src/__tests__/app_env_vars_utils.test.ts
  apps/client/src/__tests__/app_env_vars_utils.test.ts
Due: eslint --fix, prettier --write

Update description formatting in SKILL.md
  plugins/autonomous-skill/skills/autonomous-skill/SKILL.md
Due: prettier --write

Include Supabase Edge Functions and Secrets in context
  apps/client/src/supabase_admin/supabase_context.ts
  apps/client/src/supabase_admin/supabase_management_client.ts
Due: eslint --fix, prettier --write

Add Gemini extension tool manifest
  gemini-extension.json
Due: prettier --write

Delete Pasted--FAIL-src-tests-mention-apps-test-ts-src-tests-mention-_1765057939141.txt
  attached_assets/Pasted--FAIL-src-tests-mention-apps-test-ts-src-tests-mention-_1765057939141.txt
Due: none

Add Gemini CLI integration assets
  commands/story/analyze.toml
  commands/story/audit.toml
  commands/story/export.toml
  commands/story/refine.toml
  commands/story/validate.toml
  gemini-extension.json
  skills/arc-optimization/SKILL.md
  skills/character-analysis/SKILL.md
  skills/character-voice/SKILL.md
  skills/conflict-detection/SKILL.md
  skills/structural-audit/SKILL.md
Due: prettier --write

fix formatting
  README.md
Due: prettier --write

perf: parallelize MCP tool retrieval in getMcpTools
  apps/client/src/ipc/handlers/chat_stream_handlers.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  prisma format: any of: apps/server/prisma/schema.prisma
